<!--Set up this file to have the template that Handlebars can render onto
Also, create a button that will submit the user input into the database.-->

<div class="jumbotron">
  <h2>Burgers!</h2>

  <br>
  <div class = "picture">
    <img src="/assets/img/burger.png" alt="Burger" id = "centerImage">
  </div>
</div>

<div class = "container">
<div class = "available">
<h2>Available Burgers</h2>
<ul>
{{#each burgers}}

    {{#unless this.devoured}}
      <li class = "avlist">

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type ="submit">Devour Me!! </button>
           {{this.burger_name}}
        </form>

      </li>
    {{/unless}}

  {{/each}}
</ul>

</div>


<div class = "devoured">
<h2>Devoured Burgers</h2>

<ul>
{{#each burgers}}

    {{#if this.devoured}}
      <li class = devlist>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

</div>
</div>

<div class = "add row">
<form class="create-update-form" action="burgers/create" method="POST">

<h2>Add a Burger</h2>
  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>
  
  <button type="submit">Add Burger</button>
</form>
</div>

