.jumbotron {
  height: 75%;
}

li {
  background: #9B870C;
  margin: 5px;
  padding: 5px;
}

h2 {
	text-align: center;
  left margin: 50px;
}

.picture
{
text-align: center;
}

li.devlist {
  background: #D3D3D3;
  color: #B3AFAF;
}


.label {
  font-weight: bold;
}

.available {
	float: left;
}

.devoured {
	float: right;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.add {
text-align: center;
}